<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- calls to bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js" ></script> 
    
        <script src="https://unpkg.com/vue/dist/vue.min.js"></script>

        

        <title>Utility Locker Interview</title>

    </head>
    
    <div id="contents-main">
        <div class="lead">
           
        </div>
        <div id="contents">
           
            <ul>
                <li style="list-style-type:none" v-for="product in products">
                    <product-card
                            v-bind:product="product" v-bind:key="product.id">
                    </product-card>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- include Vue.js -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>


    

    <script type="text/babel">

    // this text was added to clean up JSON code to be used for JSON,parse
    var json = "[[${products}]]";
    var jsonFilter = json.replace(/{    &quot;id&quot;/g, ' { "id"').replace(/&quot;/g, '"').replace(/]/g, '').replace(/\[/g, '').replace(/}   {/g,'} ,  {' ) ;
    var jsonArray = ' ['+ jsonFilter +']';
    
    var obj = JSON.parse(jsonArray);

    alert (obj);
    
        // vue component
        Vue.component('product-card', {
            props: ['product'],
            template: `
            
          
            <div class="card">
                        <div class="card-body">
                            <h6 class="card-title">
                                {{ product.name}}
                            </h6>
                            <p class="card-text">
                            <div>
                            {{ product.name }}
                            </div>
                        </p>
                        </div>
                    </div>`
        });


        //var dataURL = '/mobile.json';

        var app = new Vue({
            el: '#contents',
            data: {
                products: []
                
            }
})
            
        
        app.products = obj
    


    </script>


    </body>
</html>